/* rgb(100, 50, 108) -> veterinarian violet */
.user-form {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 1.5em;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

.user-form fieldset {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  height: fit-content;
  padding: 1.5em;
  border: none;
  border-radius: 5px;
}

fieldset label,
input {
  margin-bottom: 1em;
}

fieldset input {
  border-radius: 30px;
  border: 1px solid grey;
  padding: 0.5em 2ch;
  width: 100%;
}

fieldset input:disabled {
  border: 1px solid transparent;
}

.user-form .right-container {
  width: 50%;
  min-width: 300px;
}

.right-container {
  display: flex;
  flex-flow: column;
}

.right-container button {
  margin: auto;
}

.user-form img.avatar {
  object-fit: cover;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  background-color: rgb(226, 224, 111);
  display: block;
  margin: auto;
  margin-bottom: 1em;
  box-shadow: 0 0 2px grey;
}

.user-form div .btns-container {
  display: flex;
  width: 100%;
}

.user-form button {
  width: fit-content;
  font-size: 0.85em;
  margin-top: 1em;
}
.user-form button.save {
  margin-right: 0.5em;
  background-color: rgba(207, 68, 207, 0.7);
}

.user-form button:hover {
  background-color: rgba(207, 68, 207, 1);
}

.user-form button.cancel {
  margin-left: 0.5em;
  background-color: rgba(221, 65, 65, 0.6);
}

.user-form button.cancel:hover {
  background-color: rgb(221, 65, 65);
}