h1 {
  text-align: center;
}

form {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  justify-content: center;
  max-width: 20em;
}

form input {
  padding: 0.5em 0.5em;
  border-radius: 1em;
  margin: 1em;
  padding-left: 2ch;
  padding-right: 2ch;
  /* background-color: transparent; */
}

button {
  background-color: cadetblue;
  border-radius: 1em;
  color: white;
  margin: 1em;
  font-size: 1em;
  width: 50%;
}

button a {
  text-decoration: none;
}

.button-container {
  display: flex;
}

button[type='submit'] {
  background-color: rgb(142, 212, 214);
  border-radius: 1em;
  width: 100%;
}

button[type='submit']:hover {
  background-color: rgb(40, 220, 226);
  box-shadow: 0 0 2px grey;
}

button.cancel {
  background-color: rgb(200, 60, 60);
}

button.cancel:hover {
  background-color: rgb(223, 26, 26);
  box-shadow: 0 0 2px grey;
}