.App {
  text-align: left;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top, rgb(21, 114, 236), white);
}

button {
  padding: 0.5em 1em;
}

button a {
  text-decoration: none;
}

p a {
  text-decoration: none;
}