.App {
  text-align: left;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.App:after {
  content: '';
  display: block;
  width: 4000px;
  height: 4000px;
  top: -250px;
  padding: 400%;
  z-index: -1;
  background-image: repeating-linear-gradient(90deg, rgba(19, 154, 255, .31) 0%, rgba(255, 254, 138, .41) 20%, rgba(80, 9, 121, 1) 52%, rgba(19, 154, 255, .31) 90%);
  background-repeat: repeat;
  position: absolute;
  animation: rotate-360 69s linear infinite forwards;
  box-shadow: 0 0 5000px rgb(80, 9, 138);
}

button {
  padding: 0.5em 1em;
}

button a {
  text-decoration: none;
}

p a {
  text-decoration: none;
}

@keyframes rotate-360 {
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}